* {
    box-sizing: border-box;
}

.primero {
    border-right: 0;
    border-bottom: 2px solid black;
    width: 100%;
}

header {
    text-align: center;
    width: 100%;
    margin-top: 60px;
    font-size: 20px;
}

.tries {
    position: absolute;
    color: darkblue;
    font-size: 65px;
    font-weight: bold;
    right: 20px;
    top: 45px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin-top: 100px;
}

.introduce {
    display: block;
    text-align: center;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.number {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#box_number,
.boton_try {
    display: block;
    margin-top: 20px;
}

#box_number,
#box_name {
    border-radius: 5px;
    height: 30px;
}

.boton_save,
.boton_try {
    padding: 0 60px 0 60px;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 25px;
}

.boton_save {
    margin-top: 20px;
}

.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

.name {
    display: none;
}

.pistas {
    text-align: center;
    color: blue;
    border: 3px solid blue;
    margin-top: 80px;
    width: 80%;
    margin-bottom: 80px;
    font-weight: bold;
}

.historico {
    width: 100%;
    font-size: 15px;
    background-color: #F8D47C;
}

.history {
    padding-top: 20px;
}

.hh {
    margin-left: 25px;
}

li {
    text-align: left;
    padding: 0 0 5px 10px;
}

@media all and (min-width:900px) {
    body {
        flex-direction: row;
    }
    .primero {
        border-right: 2px solid black;
        border-bottom: 0;
    }
    .tries {
        right: 290px;
        top: 15px;
    }
    .historico {
        width: 300px;
    }
}

@media all and (min-width:395px) {
    .open {
        display: inline;
        margin-top: 25px;
    }
    .boton_save {
        margin-left: 5px;
        margin-top: 0;
    }
}